.about {
    display: flex;
    @media (max-width: $break-medium) {
        flex-direction: column;
    }
}

.about img {
    max-width: 300px;
    @media (max-width: $break-medium) {
        max-width: 500px;
    }
    @media (max-width: $break-small) {
        max-width: 100%;
    }
}

.about p:first-child {
    margin-top: 0;
}

.about a {
    color: $secondary-color;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}

.about-container {
    padding: 0 0 0 20px;
    font-size: 1.3rem;
    font-weight: 100;
    @media (max-width: $break-medium) {
        padding: 20px 0 0 0;
    }
    @media (max-width: $break-xsmall) {
        padding: 10px 0 0 0;
    }
}

.about-container .wrapper {
    padding: 0;
    margin: auto;
}

.avatar-container {
    @media (max-width: $break-medium) {
        text-align: center;
    }
}
