.article {
    flex: 0 0 calc(25% - 26.25px);
    min-width: 200px;
    margin-right: 35px;
    margin-bottom: 50px;
    &:nth-child(4n) {
        margin-right: 0;
    }
    @media screen and (max-width: $break-xlarge) {
        flex: 0 0 calc(33.33% - 16.66px);
        margin-right: 25px;
        margin-bottom: 40px;
        &:nth-child(4n) {
            margin-right: 25px;
        }
        &:nth-child(3n) {
            margin-right: 0px;
        }
    }
    @media screen and (max-width: $break-large) {
        flex: 0 0 calc(50% - 12.5px);
        margin-right: 25px;
        margin-bottom: 40px;
        &:nth-child(3n) {
            margin-right: 25px;
        }
        &:nth-child(2n) {
            margin-right: 0px;
        }
    }
    @media screen and (max-width: $break-medium) {
        flex: 0 0 100%;
        margin-right: 0;
        margin-bottom: 40px;
    }
    @media screen and (max-width: $break-small) {
        margin-bottom: 30px;
    }
    @media screen and (max-width: $break-small) {
        margin-bottom: 20px;
    }
}

.article a {
    color: $secondary-color;
}

.article a:hover .date, .article a:hover .image, .article a:hover .title,.article a:hover .publication {
    opacity: 0.7;
}

.article .date {
    font-size: 1.1rem;
    text-align: right;
    margin: 0 0 5px 0;
    text-transform: uppercase;
}

.article .image {
    height: 150px;
    @media screen and (max-width: $break-large) {
        height: 250px;
    }
    @media screen and (max-width: $break-small) {
        height: 200px;
    }
}

.article .imageContainer {
    height: 100%;
    width: 100%;
    display: flex;
}

.article img {
    object-fit: cover;
}

.article .title h1, .article .title p {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 1.3rem;
    line-height: 1.4;
    text-align: left;
    margin: 10px 0 0 0;
}

.article .publication {
    font-size: 1.1rem;
    margin: 10px 0 0 0;
    display: inline-block;
    background: $pastel-option;
}
