footer {
    background: $accent-color;
    color: $highlight-color;
    padding: 10px 0;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

footer .wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

footer a {
    color: $highlight-color;
    &.active {
        font-weight: 400;
    }
    &:hover {
    opacity: 0.5;
    }
}
