$primary-color: #ffffff;
$secondary-color: #4E4E4E;
$secondary-color-lighter: #999A9A;
$accent-color: #D2EEF3;
$highlight-color: #FDA4C3;
$pastel-option: #FDE8A4;
$pastel-secondary-option: #F1D7F8;

$break-xlarge: 1200px;
$break-large: 992px;
$break-medium: 768px;
$break-small: 576px;
$break-xsmall: 320px;

html {
    font-size: 62.5%;
    // 10px
}

body {
    background: $primary-color;
    color: $secondary-color;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 300;
    font-size: 1rem;
}

.wrapper {
    max-width: 1280px;
    margin: 50px auto 103px;
    padding: 0 100px;
}

img {
    max-width: 100%;
}

a {
    color: $accent-color;
    text-decoration: none;
    opacity: 1;
    transition: opacity 0.3s;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 7.5rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: normal;
    padding: 0;
    margin: 0;
    text-align: center;
}

.invisible {
    display: none;
}

.loading-container {
    text-align: center;
}

.loader {
    display: none;
    padding: 150px 0;
    font-size: 1.2rem;
    width: 78px;
    text-align: left;
}

.loader p:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "...";
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 3em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 3em;
  }
}

.loader p {
    display: inline-block;
    margin: 0;
}

.loader.loading {
    display: inline-block;
}

.loading.articleGrid, .loading.pagination {
    display: none;
}

nav {
    text-transform: uppercase;
    font-size: 2.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
}

nav.main li:after {
    content: '-';
    padding: 0 15px;
}

nav.main li:last-child::after {
    content: '';
}

nav.social {
    font-size: 2rem;
    display: flex;
    align-items: center;
}

nav.social li {
    padding: 0 7.5px;
}

nav.social li:last-child {
    padding-right: 0;
}
