$primary-color: #ffffff;
$secondary-color: #4E4E4E;
$secondary-color-lighter: #999A9A;
$accent-color: #D2EEF3;
$highlight-color: #FDA4C3;
$pastel-option: #FDE8A4;
$pastel-secondary-option: #F1D7F8;
$pastel-tertiary-option: #CFFAD5;
$pastel-bonus: #FFDFD3;
$pastel: #FEC8D8;
$pastel-bonus-two: #e2e7ff;

$break-xlarge: 1200px;
$break-large: 992px;
$break-medium: 768px;
$break-small: 576px;
$break-xsmall: 400px;

html {
    font-size: 62.5%;
    // 10px
}

body {
    background: $primary-color;
    color: $secondary-color;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 300;
    font-size: 1rem;
}

.wrapper {
    max-width: 1280px;
    margin: 50px auto 103px;
    padding: 0 100px;
    @media (max-width: $break-large) {
        padding: 0 50px;
    }
    @media (max-width: $break-small) {
        margin: 50px auto 60px;
        padding: 0 20px;
    }
    @media (max-width: $break-xsmall) {
        margin: 20px auto 48px;
        padding: 0 10px;
    }
}

img {
    max-width: 100%;
}

a {
    color: $accent-color;
    text-decoration: none;
    opacity: 1;
    transition: opacity 0.3s;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 7.5rem;
    font-weight: 300;
    line-height: 1;
    letter-spacing: normal;
    padding: 0;
    margin: 0;
    text-align: center;
    @media (max-width: $break-xsmall) {
        font-size: 6.5rem;
    }
}

.invisible {
    display: none;
}

.loading-container {
    text-align: center;
}

.loader {
    display: none;
    padding: 150px 0;
    font-size: 1.2rem;
    width: 78px;
    text-align: left;
}

.loader p:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "...";
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 3em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 3em;
  }
}

.loader p {
    display: inline-block;
    margin: 0;
}

.loader.loading {
    display: inline-block;
}

.loading.articleGrid, .loading.pagination, .loading.about {
    display: none;
}
