header {
    padding-top: 100px;
    @media (max-width: $break-small) {
        padding-top: 45px;
    }
    @media (max-width: $break-xsmall) {
        padding-top: 20px;
    }
}

header a {
    color: $secondary-color;
}

header h1 {
    opacity: 1;
    transition: opacity 0.3s;
    &:hover {
        opacity: 0.9;
    }
}

.description {
    display: block;
    text-align: center;
    font-size: 2rem;
    font-weight: 100;
    color: $secondary-color-lighter;
    @media (max-width: $break-xsmall) {
        font-size: 1.6rem;
    }
}
