header {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

header a {
    color: $secondary-color;
}

.description {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: 100;
    color: $secondary-color-lighter;
    line-height: 1;
    transform: rotate(3deg);
}
