.pagination {
    margin: 0 0 83px 0;
    font-size: 1.1rem;
    @media (max-width: $break-small) {
        margin: 0 0 73px 0;
    }
    @media (max-width: $break-xsmall) {
        margin: 0 0 60px 0;
    }
}

.pagination ul {
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @media screen and (max-width: $break-xsmall) {
        margin-top: 0;
    }
}

.pagination li {
    display: inline-block;
}

.pagination a {
    opacity: 1;
    transition: 0.3s;
    &:hover {
        opacity: 0.7;
    }
}

.back {
    grid-column: 1 / 2;
}

.page {
    grid-column: 2 / 3;
    text-align: center;
}

.next {
    grid-column: 3 / 4;
    text-align: right;
}
