.articleNav {
    margin: 0;
}

.articleNav ul {
    padding: 0;
    list-style: none;
}

.articleNav li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 8px 20px;
    border-bottom: 1px solid $primary-color;
    &:first-child {
        background: $highlight-color;
    }
    &:nth-child(2) {
        background: $accent-color;
    }
    &:nth-child(3) {
        background: $pastel-option;
    }
    &:nth-child(4) {
        background: $pastel-secondary-option;
    }
    &.current {
        border: 1px solid $secondary-color;
        font-weight: 700;
    }
}

.articleNav li:hover, .articleNav li.active {
    cursor: pointer;
    border-bottom: 1px solid $secondary-color;
}

.articleGrid {
    display: flex;
    flex-wrap: wrap;
    margin: 45px 0 0 0;
}

.pagination {
    margin: 0 0 83px 0;
}

.pagination ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.pagination li {
    display: inline-block;
}

.pagination li.link:hover {
    cursor: pointer;
}
