.articleNav {
    margin: 0;
    text-align: center;
}

.articleNav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
    text-align: left;
}

.articleNav a {
    display: inline-block;
    li {
        display: inline-block;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 400;
        padding: 8px 20px;
        opacity: 1;
        transition: opacity 0.3s;
        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }
    }
    &:first-child li {
        background: $highlight-color;
        border: 1px solid $highlight-color;
    }
    &:nth-child(2) li  {
        background: $accent-color;
        border: 1px solid $accent-color;
    }
    &:nth-child(3) li  {
        background: $pastel-option;
        border: 1px solid $pastel-option;
    }
    &:nth-child(4) li  {
        background: $pastel-secondary-option;
        border: 1px solid $pastel-secondary-option;
    }
    &:nth-child(5) li {
        background: $pastel-tertiary-option;
        border: 1px solid $pastel-tertiary-option;
    }
    &:nth-child(6) li {
        background: $pastel-bonus;
        border: 1px solid $pastel-bonus;
    }
    &:nth-child(7) li {
        background: $pastel;
        border: 1px solid $pastel;
    }
    &:nth-child(8) li {
        background: $pastel-bonus-two;
        border: 1px solid $pastel-bonus-two;
    }
    li.active {
        border: 1px solid $secondary-color;
        &:hover {
            opacity: 1;
            cursor: default;
        }
    }
}

.articleNav a, .pagination a {
    color: $secondary-color;
}

.articleGrid {
    display: flex;
    flex-wrap: wrap;
    margin: 45px 0 0 0;
    @media (max-width: $break-small) {
        margin: 20px 0 0 0;
    }
    @media (max-width: $break-xsmall) {
        margin: 15px 0 0 0;
    }
}
