.articleNav {
    margin: 0;
}

.articleNav ul {
    padding: 0;
    list-style: none;
}

.articleNav a {
    li {
        display: inline-block;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 400;
        padding: 8px 20px;
        opacity: 1;
        transition: opacity 0.3s;
        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }
    }
    &:first-child li {
        background: $highlight-color;
        border: 1px solid $highlight-color;
    }
    &:nth-child(2) li, &:nth-child(6) li  {
        background: $accent-color;
        border: 1px solid $accent-color;
    }
    &:nth-child(3) li, &:nth-child(7) li  {
        background: $pastel-option;
        border: 1px solid $pastel-option;
    }
    &:nth-child(4) li, &:nth-child(8) li  {
        background: $pastel-secondary-option;
        border: 1px solid $pastel-secondary-option;
    }
    &:nth-child(5) li {
        background: $pastel-tertiary-option;
        border: 1px solid $pastel-tertiary-option;
    }
    li.active {
        border: 1px solid $secondary-color;
        &:hover {
            opacity: 1;
            cursor: default;
        }
    }
}

.articleNav a, .pagination a {
    color: $secondary-color;
}

.articleGrid {
    display: flex;
    flex-wrap: wrap;
    margin: 45px 0 0 0;
}

.pagination {
    margin: 0 0 83px 0;
    font-size: 1.1rem;
}

.pagination ul {
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.pagination li {
    display: inline-block;
    // opacity: 1;
    // transition: opacity 0.3s;
    // &:hover {
    //     opacity: 0.7;
    // }
}

.pagination a {
    opacity: 1;
    transition: 0.3s;
    &:hover {
        opacity: 0.7;
    }
}

.back {
    grid-column: 1 / 2;
}

.page {
    grid-column: 2 / 3;
    text-align: center;
}

.next {
    grid-column: 3 / 4;
    text-align: right;
}
