@import 'partials/setup';
@import 'partials/global';
@import 'partials/header';
@import 'partials/footer';
@import 'partials/about';
@import 'partials/writing';
@import 'partials/article';
@import 'partials/contact';
@import 'partials/notFound';
